<html>
  <head>
    <title>Orange</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="nz7Bijo8shsnrih7nL8J757KR5thNpYgjTmE04zwdJRtGnWpJ0ULQEtkfiq/bEOmj8+xtOEvtRamZUxoZreowg==" />

<link rel="stylesheet" href="../bootstrap-4.2.1-dist/css/bootstrap.css">
    <link rel="stylesheet" media="all" href="/assets/pages.self-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css?body=1" data-turbolinks-track="reload" />
<link rel="stylesheet" media="all" href="/assets/application.self-f0d704deea029cf000697e2c0181ec173a1b474645466ed843eb5ee7bb215794.css?body=1" data-turbolinks-track="reload" />
    <script src="/assets/rails-ujs.self-8944eaf3f9a2615ce7c830a810ed630e296633063af8bb7441d5702fbe3ea597.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/turbolinks.self-569ee74eaa15c1e2019317ff770b8769b1ec033a0f572a485f64c82ddc8f989e.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/action_cable.self-69fddfcddf4fdef9828648f9330d6ce108b93b82b0b8d3affffc59a114853451.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/cable.self-8484513823f404ed0c0f039f75243bfdede7af7919dda65f2e66391252443ce9.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/list.self-81c018dd5ac04871c1f8a537a67efc45a66835fa32e8cc5a1417e84e874db664.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/pages.self-877aef30ae1b040ab8a3aba4e3e309a11d7f2612f44dde450b5c157aa5f95c05.js?body=1" data-turbolinks-track="reload"></script>
<script src="/assets/application.self-eba3cb53a585a0960ade5a8cb94253892706bb20e3f12097a13463b1f12a4528.js?body=1" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">OBOG名簿2.0</a>
        </div>
      </div>
    </nav>

<!-- ここからイベント -->
<div class="container">
  <div class="card-header">イベント一覧　<small> <%= @user.schoolname %></small>
  <input class="search" style="font-size:x-small;"style="text-align:left;" placeholder="Search" />
  <button class="sort" style="font-size:x-small;" style="text-align:left;" data-sort="name">Sort by name</button></div>
<table class="card border"　border="1" bordercolor="#333333">
<tbody class="list">
<% @events.each do |event| %>
<tr><td class="born" style="font-size:0pt; display:none;">19671106</td><td class="name">
<div class="card-body border">
<div class="event_window_body">
	<div class="event_window_inner_header"><div class="event_window_inner_footer"><div class="event_window_inner_body">
		<!-- title -->
		<div class="event_title">
			<h2><%= event.name %></h2>
			<p class="time">開催日時：<%= event.date.year %>年<%= event.date.month %>月<%= event.date.day %>日<%= event.date.hour %>時<%= event.date.min %>分
			</p>
		</div>
		<!-- //title -->

		<!-- tag -->
		<div class="tag_body">
			タグ：
			<% event.eattributes.each do |attribute| %>
				[<%= attribute.name %>]
			<% end %>
		</div>
		<!-- //tag -->


			<!-- information -->
			<div class="event_data">
				<table border="1" bordercolor="#333333">
				<tbody><tr>
					<th class="event_data-owner-th">イベントオーナー</th>
					<th class="event_data-setting-th" colspan="3">詳細</th>
				</tr>
				<tr>
					<td class="owner">
						<% if event.evowners[0] %>
							<p><%= event.evowners[0].name %></p>
						<% end %>
					</td>
					<td colspan="3">
						<%= event.content %>
					</td>
				</tr>
				<tr>
					<th>参加人数 / 定員</th>
					<th>費用負担</th>
					<th>場所</th>
					<th>問い合わせ先</th>
				</tr>
				<tr class="ja">
					<td>
						<p><%= event.eusers.count %>人/ <%= event.number %>人
						( 残り<%= event.number - event.eusers.count %>人 )</p>
					</td>
					<td>
						<%= event.fee %>
					</td>
					<td>
						<%= event.place %>
					</td>
					<td>
						<% if event.evowners[0] %>					
							<%= event.evowners[0].phone %><br>
							<%= event.evowners[0].email %>
						<% end %>
					</td>
				</tr>
				</tbody></table>
			</div>
			<!-- //information -->


		<div class="clearfix">
			<p class="date-make">作成日：<span><%= event.created_at.year %>年<%= event.created_at.month %>月<%= event.created_at.day %>日</span></p>
		</div>

	</div></div></div>

	<div class="btn-event_links">
		<%= link_to "参加","/participate/" + event.id.to_s %>
		<%= link_to "参加取り消し","/participate_cancel/" + event.id.to_s %>
	</div>

</div>
</div>
</td></tr>

</td></tr>
<% end %>
</tbody>
</table>
</div>


<!-- イベントテーブルおわり -->
<div><a href="/user/mypage">マイページへ</a>
  <a href="/">　トップへ戻る</a>
 <a href="/signout">　ログアウト　</a></div>

 </div>




<script src="list.js"></script>
<script>
var options = {
  valueNames: [ 'name', 'born']
};

var userList = new List('users', options);
</script>

  </body>
</html>
