<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="#">OBOG名簿2.0</a>
</div></div></nav>

<div class="container">
<div class="card-header"><%= @user.schoolname %>の名簿</div>

<% @users.each do |user| %>
<table class="table table-striped">
	
	<thead><tr><th>#</th><th>名前</th><th>卒業年度</th><th>属性</th><th>プロフィール</th></tr></thead>
	<tbody><tr><th>1</th>
	<td><%= user.name %></td>
	<td><%= user.guraduate %></td>
	<td><% user.uattributes.each do |attribute| %> <%= attribute.name %>,<% end %></td>
	<td>
		<% if user.profile %>
			<%= user.profile %>
		<% else %>
			<div>未設定</div>
		<% end %>	
		<br>
		email: <%= user.email %>
		<br>	
		電話番号: <%= user.phone %>
	</td>
	</tr><br></table>

	
	
	
	
	
<% end %>

<div><%= link_to 'とっぷ','/' %></div>
<div><%= link_to 'ログアウト','/signout' %></div>
<div><%= link_to 'マイページへ','/user/mypage' %></div>
