<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
    
	<a class="navbar-brand" href="#">OBOG名簿2.0</a>

</div></div></nav>

<div class="container">
<div class="card-header">ログイン</div>
<div class="card-body">
<div class="row">

<%= form_tag "/user/signin", :method => "post", :class => "form-horizontal" do %>
	<div class="form-group">
	<%= label_tag "名前" %>
	<%= text_field_tag :username,"", :class => "col-xl control-label" %><br>
	<%= label_tag "パスワード" %>
	<%= password_field_tag :password ,"", :class => "col-xl control-label" %><br>
	</div>
	<%= submit_tag"送信" , :class => "btn btn-primary" %>
<% end %>