<div>編集する</div>
<%= form_tag "/user/edit/profile", method: :post do %>
	<%= label_tag "名前" %>
	<%= text_field_tag :username, @user.name %><br>
	<%= label_tag "学校名" %>
	<%= text_field_tag :schoolname, @user.schoolname %><br>
	<%= label_tag "卒業年度" %>
	<%= number_field_tag :graduate, @user.guraduate %><br>
	<%= label_tag "emailアドレス" %>
	<%= text_field_tag :email, @user.email %><br>	
	<%= label_tag "電話番号" %>
	<%= number_field_tag :phone, @user.phone %><br>	
	<%= label_tag "プロフィール" %>
	<%= text_area_tag :profile, @user.profile %><br>
	<%= submit_tag"送信" %>
<% end %>