<div>イベント一覧 <%= @user.schoolname %>　高校 </div>

<!-- ここからイベント -->
<div id="users">
  <input class="search" placeholder="Search" />
  <button class="sort" data-sort="name">
    Sort by name
  </button>

<table border="1" bordercolor="#333333">
<tbody class="list">
<% @events.each do |event| %>
<tr><td class="born" style="font-size:0pt; display:none;">19671106</td><td class="name">

<div class="event_window_body">
	<div class="event_status clearfix">
		<div class="event_status-offer"><img src="https://img.finalfantasyxiv.com/lds/h/j/P38W1lSpq_ni67HwFp5QdK1Xz0.png" width="180" height="20" alt="募集中"></div>		
	</div>
	
	<div class="event_window_inner_header"><div class="event_window_inner_footer"><div class="event_window_inner_body">
		<!-- title -->
		<div class="event_title">
			<h2><%= event.name %></a></h2>
			<p class="time">開催日時：<%= event.date.year %>年<%= event.date.month %>月<%= event.date.day %>日<%= event.date.hour %>時<%= event.date.min %>分
			</p>
		</div>
		<!-- //title -->

		<!-- tag -->
		<div class="tag_body">
			分類：
			<% event.eattributes.each do |attribute| %>
				[<%= attribute.name %>]
			<% end %>
		</div>
		<!-- //tag -->

		
			<!-- information -->
			<div class="event_data">
				<table border="1" bordercolor="#333333">
				<tbody><tr>
					<th class="event_data-owner-th">イベントオーナー</th>
					<th class="event_data-setting-th" colspan="3">詳細</th>
				</tr>
				<tr>
					<td class="owner">
						<p class="thumb"><%= image_tag('yoshida.jpg') %></p>
						<% if event.evowners[0] %>
							<p><%= event.evowners[0].name %></p>
						<% end %>
					</td>
					<td colspan="3">
						<%= event.content %>
					</td>
				</tr>
				<tr>
					<th>参加人数 / 定員</th>
					<th>費用負担</th>
					<th>場所</th>
					<th>問い合わせ先</th>
				</tr>
				<tr class="ja">
					<td>
						<p><%= event.eusers.count %>人/ <%= event.number %>人
						( 残り<%= event.number - event.eusers.count %>人 )</p>
					</td>
					<td>
						<%= event.fee %>
					</td>
					<td>
						<%= event.place %>
					</td>
					<td>
						<% if event.evowners[0] %>					
							<%= event.evowners[0].phone %><br>
							<%= event.evowners[0].email %>
						<% end %>
					</td>
				</tr>
				</tbody></table>
			</div>
			<!-- //information -->
		

		<div class="clearfix">
			<p class="date-make">作成日：<span><%= event.created_at.year %>年<%= event.created_at.month %>月<%= event.created_at.day %>日</span></p>
		</div>

	</div></div></div>

	<div class="btn-event_links">
		<%= link_to '参加','/participate/' + event.id.to_s %>
		<%= link_to '参加取り消し','/participate_cancel/' + event.id.to_s %>
	</div>

</div>

</td></tr>
<% end %>
</tbody>
</table>

</div>
<!-- イベントテーブルおわり -->

<div><%= link_to 'とっぷ','/' %></div>
<div><%= link_to 'ログアウト','/signout' %></div>
<div><%= link_to 'マイページへ','/user/mypage' %></div>


<%# ここからスクリプト。あんまりいじんないでね %>

<script src="list.js"></script>
<script>
var options = {
  valueNames: [ 'name', 'born']
};

var userList = new List('users', options);
</script>
