<h1>ログイン</h1>

<%= form_tag "/user/signin", method: :post do %>
	<%= label_tag "名前" %>
	<%= text_field_tag :username %><br>
	<%= label_tag "パスワード" %>
	<%= password_field_tag :password %><br>
	<%= submit_tag"送信" %>
<% end %>