<%= image_tag('title.png') %>
<div id="title">とっぷ</div>
<% if session[:id] %>
	<div><%= link_to 'マイページへ','/user/mypage' %></div>
	<div><%= link_to 'ログアウト','/signout' %></div>
<% else %>
	<div><%= link_to 'サインイン','/user/signin' %></div><br>
	<div><%= link_to 'ユーザー登録','/user/signup' %></div><br>
<% end %>