<%= image_tag('title.png') %>
<div id="title">とっぷ</div>
<% if session[:id] %>
	<div><%= link_to 'マイページへ','/user/mypage' %></div>
	<div><%= link_to 'ログアウト','/signout' %></div>
<% else %>
	<div><%= link_to 'サインイン','/user/signin' %></div><br>
	<div><%= link_to 'ユーザー登録','/user/signup' %></div><br>
<% end %>

<div class="event_window_body">

	<div class="event_status clearfix">
		
			
				<div class="event_status-offer"><img src="https://img.finalfantasyxiv.com/lds/h/j/P38W1lSpq_ni67HwFp5QdK1Xz0.png" width="180" height="20" alt="募集中"></div>
			
			
				<div class="status-limited_world"><div class="status-inner"><p>Aegis ワールド対象</p></div></div>
			
		
		
			<p class="comment"><a href="/lodestone/character/54274/event/35646/#comment">0</a></p>
		
	</div>
	

	<div class="event_window_inner_header"><div class="event_window_inner_footer"><div class="event_window_inner_body">
		<!-- title -->
		<div class="event_title">
			<h2><a href="/lodestone/character/54274/event/35646/">若葉さんにクリスマスプレゼント～♪　(*'ω'*)　教室に来た人限定</a></h2>
			<p class="time">			開催日時：<span><span class="datetime" data-epoch="1544943600" data-format="YMDHM">2018/12/18 10:25</span></span> ～ 												<span><span class="datetime" data-epoch="1544947200" data-target_epoch="1544943600" data-format="YMDHM_HM">17:00</span></span>	
</p>
		</div>
		<!-- //title -->

		<!-- tag -->
		<div class="tag_header"><div class="tag_footer"><div class="tag_body">
			
				<a href="https://jp.finalfantasyxiv.com/lodestone/event/?tag=%E5%91%8A%E7%9F%A5">[告知]</a>
			
				<a href="https://jp.finalfantasyxiv.com/lodestone/event/?tag=%E3%83%9E%E3%82%B1%E3%83%9C%E3%81%A7%E8%B2%B7%E3%81%86%E5%89%8D%E3%81%AB">[年が終わる前に]</a>
			
				<a href="https://jp.finalfantasyxiv.com/lodestone/event/?tag=%E8%8B%A5%E8%91%89%E3%81%95%E3%82%93%E9%99%90%E5%AE%9A%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88">[東大生限定イベント]</a>
			
		</div></div></div>
		<!-- //tag -->

		
			<!-- information -->
			<div class="event_data">
				<table border="1" bordercolor="#333333">
				<tbody><tr>
					<th class="event_data-owner-th">イベントオーナー</th>
					<th class="event_data-setting-th" colspan="2">注意事項</th>
					<th class="event_data-participation-th" colspan="2">参加締切日時</th>
				</tr>
				<tr>
					<td class="owner">
						
							<p class="thumb"><%= image_tag('yoshida.jpg') %></p>

							
							<p><a href="/lodestone/character/54274/">吉田塁</a><br>
							(Teacher)</p>
						
					</td>
					<td colspan="2">
						
							実際に出席していないことが確認されたら欠席とします。
						
					</td>
					<td colspan="2">
<span class="datetime" data-epoch="1544947200" data-format="YMDHM">2018/12/18 10:25</span>

</td>
				</tr>
				<tr>
					<th>参加人数 / 定員</th>
					<th>費用負担</th>
					<th>場所</th>
					<th>動画の収益化</th>
					<th>連絡方法</th>
				</tr>
				<tr class="ja">
					<td>
						<p><span class="current">1</span> / 							<span>40</span>
						( 残り<span class="remainder">39</span>人 )
						</p>
						

	
	


					</td>
					<td class="closed">
						無料（交通費負担なし）
					</td>
					<td class="closed">
						非公開
					</td>
					<td class="closed">
						なし
					</td>
					<td>
						外部サイト利用
					</td>
				</tr>
				</tbody></table>
			</div>
			<!-- //information -->
		

		<div class="clearfix">
			<p class="date-update">更新日：<span>
<span class="datetime" data-epoch="1544689728" data-format="YMDHM">2018/12/16 17:17</span>

</span></p>
			<p class="date-make">作成日：<span>
<span class="datetime" data-epoch="1544671539" data-format="YMDHM">2018/12/13 12:25</span>

</span></p>

			<p class="language">JA</p>
		</div>

	</div></div></div>

	<div class="btn-event_links">
		<a href="/lodestone/character/54274/event/35646/"><img src="https://img.finalfantasyxiv.com/lds/h/P/VdEt96iBpiiYwbtyzByRXYeSdk.png" width="220" height="40" alt="イベント内容を確認"></a>
	</div>

</div>